@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
:root{
    font-family: "Montserrat", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.boder{
    border: 1px solid white;
    height: 100px;
}
.nav-link {
    display: flex;
    align-items: center;
    color: #FFFF;
}
.nav-link:hover{
    transition: 0.3s all linear;
    /* transform: scale(1.1); */
}